<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>ace of spadess</title>
    <h1>ace of spades</h1>
    <h2>sharp  high  mysterious</h2>
    <a href="/product">products</a>
    <a href="/cart">cart</a>
</head>
<body>
    <p>Ace of Spades is an eclectic and trendy boutique store that stands out as a unique destination for fashion-forward individuals seeking a blend of edgy and sophisticated styles. Located in the heart of a bustling urban area, this store exudes an air of mystery and allure, drawing fashion enthusiasts and trendsetters from all walks of life. </p>
 

    <img src="https://www.streetammo.dk/41731-home_default/8-ball-corp-hood-black.jpg" alt="front of the shirt" style="width: 30%;">
    <br>

    <img src="https://www.streetammo.dk/41733-large_default/8-ball-corp-hood-black.jpg" alt="the back of the shirt" style="width: 30%;">
    <br>

    <img src="https://youthgenesmarket.com/cdn/shop/products/image_42a9127f-6352-40a7-9a73-9cfa0055cc6f.jpg?v=1676038152&width=493" alt="Stussy 8 Ball Pool Zip Up Hoodie" style="width:10%">
  
   <img src="https://youthgenesmarket.com/cdn/shop/products/image_42a9127f-6352-40a7-9a73-9cfa0055cc6f.jpg?v=1676038152&width=493" alt="Stussy 8 Ball Pool Zip Up Hoodie" style="width:10%">

  

</body>
</html>